ul {
    max-width: 600px;
    margin: auto;
    padding: 10px;
}

li {
    background: #f5f5f5;
    margin: 8px 0;
    padding: 10px;
    border-left: 5px solid #0d6efd;
    list-style: none;
    font-size: 16px;
}
body {
    font-family: Arial, sans-serif;
}

img {
    margin: 10px;
    border: 2px solid #ccc;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.gallery img {
    width: 300px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
.reviews {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.review {
    border: 1px solid #ddd;
    padding: 15px;
    width: 250px;
    border-radius: 8px;
    background-color: #f9f9f9;
}
a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #b4c9e8;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}
.footer {
  background-color: #f2f2f2;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
  font-size: 14px;
  color: #555;
}



